# Base de datos MySQL (para local y CloudPanel)
DATABASE_URL="mysql://root:password@127.0.0.1:3306/sistema_1x10"

# Secreto para Sesiones / JWT
JWT_SECRET="secret_super_seguro_sistema_1x10_2026"

# Configuración de Python
PYTHON_PATH="python" # En servidor Linux/CloudPanel puede ser python3

# Ruta al archivo de Excel con el padrón
EXCEL_PADRON_PATH="./data/padron.xlsx"

# Clave de Administrador Master (para ingreso rápido de prueba/simulación)
MASTER_KEY="admin123"
